EXPO_PUBLIC_PRIVY_APP_ID=
EXPO_PUBLIC_PRIVY_APP_SECRET=
EXPO_PUBLIC_BACKEND_BASE_URL=http://localhost:3001
PRIVY_APP_ID=
PRIVY_APP_SECRET=
ALCHEMY_API_KEY=
RPC_URL=https://starknet-mainnet.g.alchemy.com/v2/
STARKNET_CHAIN_ID=SN_MAIN